__pycache__/
*.py[cod]
*.pyo
*$py.class

.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.eggs/
*.egg-info/
pip-wheel-metadata/

build/
dist/
*.spec

venv/
.venv/
env/
ENV/
.vscode/

*.exe
*.dll
*.onnx
